---
import { queryWordPress } from "../lib/wordpress";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const WHYCHOOSE=`
query whychoosus {
  page(id: "why-choose-us", idType: URI) {
       title
    seo {
      canonical
      cornerstone
      fullHead
    }
    featuredImage {
      node {
        mediaItemUrl
        altText
      }
    }
    whyChooseUs {
      whyChooseTitle
      whyChosseDesc
      bottomParagraph
      mainVideo{
         node {
          mediaItemUrl
        }
      }
      videoPoster{
         node {
          mediaItemUrl
        }
      }
      pageLink { 
        pageLinks {
          url
          title
          target
        }
      }
    }
  }
}
`
const pagedata=await queryWordPress(WHYCHOOSE);
const finaldata=pagedata.page;
const pagelinks=finaldata.whyChooseUs.pageLink
const seodata = finaldata?.seo || {};


---

<!doctype html>
<html lang="en">
    <head>
         <BaseHead
            useYoast={true}
            canonical={seodata?.canonical || ""}
            focuskw={seodata?.focuskw || ""}
        />
        {seodata?.fullHead && <Fragment set:html={seodata.fullHead} />}
    </head>
    <body>
        <Header />

        <section class="innerbanner-sec">
            <img
                src={finaldata?.featuredImage?.node?.mediaItemUrl || "error"}
                alt={finaldata?.title || "error"}
                title={finaldata?.title || "error"}
                width="1920"
                height="532"
                loading="eager"
                fetchpriority="high"
                decoding="sync"
                class="banner-image"
            />
            <div class="container">
                <div class="allabout-banner">
                    <h1 class="fs-80">{finaldata?.title || "error"}</h1>
                </div>
            </div>
        </section>

        <section class="whychoose-sec">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7">
                        <div class="choose-holders">
                            <h2 class="fs-60">{finaldata?.whyChooseUs?.whyChooseTitle || "error"}</h2>
                            <div set:html={finaldata?.whyChooseUs?.whyChosseDesc || "error"}></div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="aboutvideo">
                            <video
                                src={finaldata?.whyChooseUs?.mainVideo?.node?.mediaItemUrl || "error"}
                                poster={finaldata?.whyChooseUs?.videoPoster?.node?.mediaItemUrl || "error"}
                                width="671"
                                height="380"
                                controls
                                playsinline
                                preload="metadata"></video>
                        </div>
                    </div>
                </div>
                <div class="bottm-data" set:html={finaldata?.whyChooseUs?.bottomParagraph || "error"}></div>
                <div class="green-section">
                    <ol>
                        {
                            pagelinks.map((items)=>{
                                return <li><a href={items?.pageLinks?.url || "error"} title={items?.pageLinks?.title || "error"} >{items?.pageLinks?.title || "error"}</a></li>
                            })
                        }
                        
                    </ol>
                </div>
            </div>
        </section>

        <Footer />
        <style>
            .choose-holders {
                max-width: 805px;
                width: 100%;
            }
            .bottm-data {
                padding-top: 50px;
            }

            .green-section {
                background: var(--color-green);
                color: var(--color-white);
                padding: 25px;
                margin-top: 30px;
            }
            .green-section ol li {
                list-style: num;
                font-size: var(--fs-25);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .green-section ol {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                max-width: 66%;
                width: 100%;
                row-gap: 30px;
                column-gap: 125px;
                margin: 0 auto;
                padding: 0;
            }
            section.whychoose-sec {
                padding: 90px 0px;
                overflow: hidden;
            }
            .aboutvideo video {
                width: 100%;
            }
            .aboutvideo {
                max-width: 660px;
                width: 100%;
                margin: 0 auto;
            }
            @media (max-width: 1600px) {
                section.whychoose-sec {
                    padding: 70px 0px;
                }
            }
            @media (max-width: 1400px) {
                .bottm-data {
                    padding-top: 30px;
                }
                section.whychoose-sec {
                    padding: 50px 0px;
                }
            }
            @media (max-width: 1199px) {
                .green-section ol {
                    max-width: 100%;
                    row-gap: 20px;
                    column-gap: 60px;
                }
                .choose-holders {
                    padding-bottom: 30px;
                }
            }
            @media (max-width: 767px) {
                section.whychoose-sec {
                    padding: 30px 0px;
                }
            }
        </style>
    </body>
</html>
