---
import { queryWordPress } from "../lib/wordpress";
const FAQ_DATA = `
query FAQDATA{
 faqs(first: 5){
    nodes {
      title
      content
    }
  }
}
`;
const dataget = await queryWordPress(FAQ_DATA);
const finaldata = dataget.faqs.nodes;
---

<section class="tipasfaq-sec">
    <img
        src="/overlay-image-2.png"
        alt=""
        width="1920"
        height="466"
        loading="lazy"
        class="overlays-image"
    />
    <div class="container">
        <div class="center-data">
            <h4 class="fs-60">Tips and FAQs</h4>
            <p>Common Questions and Answers for Fence Installation</p>
        </div>

        <div class="faq-container">
            {
                [...finaldata].reverse().map((items, index) => {
                    return (
                        <div class="faq-holders" key={items?.id || index}>
                            <div class="grid-faq">
                                <div class="title-faq">
                                    <h6 class="fs-25 p-0">
                                        {items?.title || "error"}
                                    </h6>
                                </div>
                                <div class="faq-icon">
                                    <span class="faq-symbol" />
                                </div>
                            </div>

                            <div
                                class="bootm-data"
                                set:html={items?.content || "error"}
                            />
                        </div>
                    );
                })
            }
        </div>
        <div class="arrow-icon">
            <a href="/faq" title="View More" class="link-button"
                ><span>View More</span>
                <img
                    src="/right-icon.png"
                    alt=""
                    height="20"
                    width="20"
                    loading="eager"
                /></a
            >
        </div>
    </div>
</section>

<style>
    .faq-container {
        max-width: 845px;
        width: 100%;
        margin: 0 auto;
    }

    .grid-faq .fs-25 {
        font-weight: 700;
    }

    .center-data {
        max-width: fit-content;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 55px;
    }

    section.tipasfaq-sec {
        background: var(--color-green);
        color: var(--color-white);
        position: relative;
        z-index: 1;
        padding: 80px 0px;
    }

    .faq-question::after {
        content: "+";
        position: absolute;
        right: 0;
        font-size: 18px;
        transition: transform 0.3s ease;
    }
    .grid-faq.active span.faq-symbol {
        transform: rotate(225deg);
    }
    .faq-item.active .faq-question::after {
        content: "−";
    }

    .faq-answer {
        display: none;
        margin-top: 10px;
        color: #444;
    }

    span.faq-symbol {
        width: 14px;
        height: 14px;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(45deg); /* ▼ */
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .faq-icon {
        max-width: fit-content;
        width: 100%;
        cursor: pointer;
        padding-right: 5px;
    }

    .grid-faq {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: var(--color-F8F5EF);
        cursor: pointer;
        border-bottom: 1px solid var(--color-white);
    }

    .grid-faq,
    .bootm-data {
        padding: 20px 0px;
    }

    .bootm-data {
        display: none;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
    }

    .fs-25 {
        font-size: var(--fs-25);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    section.tipasfaq-sec .arrow-icon {
        max-width: fit-content;
        margin: 0 auto;
        padding-top: 30px;
    }

    @media (max-width: 1600px) {
        section.tipasfaq-sec {
            padding: 60px 0px;
        }
    }
    @media (max-width: 1400px) {
        .center-data {
            padding-bottom: 30px;
        }

        .grid-faq {
            padding: 15px 0px;
        }
    }
    @media (max-width: 991px) {
        section.tipasfaq-sec {
            padding: 40px 0px;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $(".grid-faq").click(function () {
            let $faqHolder = $(this).closest(".faq-holders"); // current faq-holder

            // Close all
            $(".faq-holders .bootm-data").slideUp();
            $(".grid-faq").removeClass("active");

            // Toggle current
            if (!$faqHolder.find(".bootm-data").is(":visible")) {
                $faqHolder.find(".bootm-data").slideDown();
                $(this).addClass("active");
            }
        });
    });
</script>
